<div
  [class]="styleClass"
  [ngClass]="{ 'grid-style': inputConfig.isLabelLeftSide }"
  class="relative">
  <label
    class="block text-black text-sm font-medium leading-normal whitespace-nowrap"
    *ngIf="!(label === '')"
    [class]="styleClassLabel">
    {{ label
    }}<span
      [ngClass]="{ visible: isRequired, hidden: !isRequired }"
      class="text-red-500 px-[2px]"
      [class]="styleClassAsterisk"
      >*</span
    ><span *ngIf="inputConfig.isLabelLeftSide">:</span>
  </label>
  <div class="relative flex-1 w-full">
    <nz-select
      [nzMode]="inputConfig.mode || 'default'"
      class="block w-full [&>*]:rounded-md"
      [class]="styleClassInput"
      [nzAllowClear]="!isRequired"
      [nzStatus]="checkInvalid() ? 'error' : ''"
      [nzOptions]="inputConfig.options"
      [nzPlaceHolder]="placeholder"
      [formControl]="inputConfig.formControl"
      (nzFocus)="checkClick()"
      (nzBlur)="checkInvalid()"
      (ngModelChange)="onFormControlChange()"></nz-select>
    <div
      [@fadeInSlideUp]
      *ngIf="checkInvalid()"
      role="alert"
      class="ng-tns-c2122311197-2 ant-form-item-explain-error absolute"
      ng-reflect-ng-class="ant-form-item-explain-error">
      {{ errorMessage }}
    </div>
  </div>
</div>
